html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li, a,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }

@font-face {
    font-weight: bold;
	font-family: 'Fabriga-Black';
    src: url("../fonts/Fabriga-Black.otf") format("opentype");
}

@font-face {
    font-family: 'Fabriga-Regular';
    src: url("../fonts/Fabriga-Regular.otf") format("opentype");
}

body {
  color: #333;
  overflow-y: scroll;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: .8em;
}

p {
  margin-bottom: 1.5em;
}

#container {
  width: 1024px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
/*
#container section section {
  margin-bottom: 3em;
}
*/

.vtex-main {
  padding: 15px;
  background: #ececec;
  position: relative;
  height:454px;
  background: url("../images/vtex-main.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.vtex-main h1{
	font-family: 'Fabriga-Black';
	font-size:28px;
	margin-left: 60px;
	margin-top: 100px;
	color:white;
}

.vtex-main p{
	font-family: 'Fabriga-Regular';
	font-size:14px;
	margin-left: 60px;
	width:300px;
	color:white;
}

.button {
  background-color: #FD1262;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
  border-radius: 18px;
}

.button-vtex-main {
  margin-top: 100px;
  margin-left: 60px;
  width:160px;
	padding: 10px;
  font-size: 14px;
}

.item-carousel{
	font-family: 'Fabriga-Regular';
	font-size:14px;
	width:180px;
	height:180px;
	border:1px solid white;
	background: #FFFFFF;
	margin:20%;
  background-size: 100% 100%;
}

.item-carousel:nth-child(1) {
  background-image: url("../images/carousel01.png");
}

.item-carousel:nth-child(2) {
  background-image: url("../images/carousel02.png");
}

.item-carousel:nth-child(3) {
  background-image: url("../images/carousel03.png");
}

.item-carousel:nth-child(4) {
  background-image: url("../images/carousel04.png");
}

.item-carousel:nth-child(5) {
  background-image: url("../images/carousel05.png");
}

.item-carousel:nth-child(6) {
  background-image: url("../images/carousel06.png");
}
.owl-dot{
	border:1px solid white !important;
	width:10px;
	height:10px;
  margin: 5px 7px;
  background: #D6D6D6;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 30px;
  background-color: #FD1262 !important;
}

.owl-dots{
	text-align:center !important;
}

.vtex-content{
	background: #F0F0F0;
  text-align:center;
}

.vtex-content p {
  font-family: 'Fabriga-Regular';
  /*background: #ececec;*/
  padding: 0 10% 0 10%;
}

.vtex-content h1 {
	font-family: 'Fabriga-Black';
	font-size:28px;
	margin-bottom: 1cm;
  padding: 2%;
}

.link-saiba-mais{
  color: #FD1262;

}

.link-saiba-mais, .item-carousel, .owl-dot, .button-vtex-main{
  cursor:pointer;
}

.vtex-newsletter{
  background: #FFFFFF;
  text-align:center;
}

.vtex-newsletter h1{
  font-family: 'Fabriga-Black';
  font-size:40px;
  margin: 0.6cm;
}

.vtex-newsletter p{
  font-family: 'Fabriga-Regular';
  font-size:12px;
}

.vtex-about{
  width:80%;
  background: #142032;
  height: 200px;
  padding: 0 15% 0 15%;
  margin-top:2%;
}

.vtex-about-item{
  width:200px;
  height:200px;
  float:left;
  padding:10px;
}

.vtex-about-item h3{
  font-family: 'Fabriga-Regular';
  font-size:14px;
  font-weight: normal;
  color: #FD1262;
  text-transform: uppercase;
  text-align:left;
}

.button-vtex-newsletter{
  width:100px;
  padding: 8px;
  font-size: 12px;
}

.input-vtex-newsletter {
  border-radius: 30px;
  border: 1px solid #cccccc;
  padding: 8px; 
  width: 200px;
  height: 15px;   

}

.vtex-about-item ul {
  list-style-type:none;
}

.vtex-about-item ul li{
  font-family: 'Fabriga-Regular';
  color:white;
  font-size:12px;
  cursor: pointer;
  text-transform: uppercase;
}

.social{
  width:40px;
  height:40px;
}

.vtex-footer{
  font-family: 'Fabriga-Regular';
  font-size:12px;
  width:80%;
  background: #FFFFFF;
  height: 60px;
  display:table;
  padding: 0 15% 0 15%;
  margin-top:2%;
  color:#666666;
}